* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container {
  max-width: 1190px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

body {
  padding-top: 121px;
}

.mb_15 {
  margin-bottom: 15px;
}

.mb_50 {
  margin-bottom: 50px;
}

.mb_45 {
  margin-bottom: 45px;
}

.mb_16 {
  margin-bottom: 16px;
}

.mb_25 {
  margin-bottom: 25px;
}

.mb_10 {
  margin-bottom: 10px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_21 {
  margin-bottom: 21px;
}

.mb_22 {
  margin-bottom: 21px;
}

.mb_40 {
  margin-bottom: 40px;
}

.mb_32 {
  margin-bottom: 32px;
}

.mb_30 {
  margin-bottom: 30px;
}

.mb_49 {
  margin-bottom: 49px;
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-400.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/raleway-v28-latin-500.woff2") format("woff2"), url("../fonts/raleway-v28-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v34-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.header {
  display: flex;
}
.header-subtitle {
  font-family: "Raleway";
  font-size: 1.125rem;
  line-height: 24px;
  font-weight: 500;
  color: #898F8F;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.header-title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 3.75rem;
  color: #FFCC00;
  line-height: 66px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.header-img {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.header-img::after, .header-img::before {
  content: "";
  display: block;
  width: 210px;
  border: 1px solid #FFCC00;
  background-color: #FFCC00;
  height: 0px;
  position: relative;
  top: 9px;
}

.main {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.main-line__gold {
  height: 550px;
  border: 1px solid #FFCC00;
  width: 0px;
  margin-left: 85px;
  margin-right: 85px;
}
.main-block__flex {
  display: flex;
}
.main-block__img {
  padding: 15px;
  background: linear-gradient(to right, #FFCC00 1px, transparent 1px) 0 0, linear-gradient(to right, #FFCC00 1px, transparent 1px) 0 100%, linear-gradient(to left, #FFCC00 1px, transparent 1px) 100% 0, linear-gradient(to left, #FFCC00 1px, transparent 1px) 100% 100%, linear-gradient(to bottom, #FFCC00 1px, transparent 1px) 0 0, linear-gradient(to bottom, #FFCC00 1px, transparent 1px) 100% 0, linear-gradient(to top, #FFCC00 1px, transparent 1px) 0 100%, linear-gradient(to top, #FFCC00 1px, transparent 1px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  max-height: 430px;
}
.main-block__img--container {
  padding-top: 65px;
}

.block-info__title--name {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 42.19px;
  color: #666666;
  display: flex;
  justify-content: center;
}
.block-info__title--position {
  font-family: "Raleway";
  font-size: 1.5rem;
  color: #666666;
  line-height: 36px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.block-info__text {
  font-family: "Raleway";
  font-size: 0.875rem;
  color: #333333;
  line-height: 24px;
  font-weight: 400;
  max-width: 430px;
  text-align: center;
  letter-spacing: 0.1px;
  display: flex;
  justify-content: center;
}
.block-info__button {
  transition: all 0.1s;
  max-width: 118px;
  margin: 0 auto;
}
.block-info__button:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 4px 0px #FFCC00;
}
.block-info__icons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.main-block__info {
  padding-top: 69px;
}

.line-gold__title {
  display: flex;
  width: 100px;
  border: 1px solid #FFCC00;
  margin: 0 auto;
  margin-bottom: 30px;
}
.line-gold__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 20px;
  height: 4px;
  background-color: #FFCC00;
}
.line-gold__text::before, .line-gold__text::after {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 4px;
  background-color: #FFCC00;
  border: none;
}
.line-gold__text::before {
  left: -15px;
}
.line-gold__text::after {
  right: -15px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.info-icon__link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #cccccc;
}

.info-icon__link:hover {
  border-color: #FFCC00;
  transition: all 0.5s;
  transform: rotateY(360deg);
  box-shadow: 0px 0px 4px 0px #FFCC00;
}

svg {
  top: -1px;
  left: -2px;
  display: block;
  position: relative;
}

.info-icon__link:hover svg path {
  fill: #FFCC00;
  transition: all 0.2s;
}

.icon-link__path {
  fill: #cccccc;
}

.button {
  display: inline-flex;
  font-family: "Open Sans";
  font-size: 0.875rem;
  line-height: 14px;
  border: 1px solid #FFCC00;
  color: #666666;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
}/*# sourceMappingURL=index.css.map */