.block-info {

    &__title--name{
        @include sahariarTitle;
        @include flex-center;
    }

    &__title--name::after {
        content: "";
        width: 100px;
        border: 1px solid #FFCC00;
        height: 0px;
    }

    &__title--position {
        @include frontendTitile;
        @include flex-center;
    }

    &__text {
        @include text;
        @include flex-center;
    }

    &__button {
        transition: all 0.1s;
        max-width: 118px;
        margin: 0 auto;
    }

    &__button:hover {
        transform: scale(1.03);
        box-shadow: 0px 0px 4px 0px #FFCC00;
    }

    &__icons {
        @include flex-center;
        gap: 5px
    }
}

.info-icon__link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #cccccc;
}

.info-icon__link:hover {
    border-color: #FFCC00;
    transition: all 0.5s;
    transform:rotateY(360deg);  
    box-shadow: 0px 0px 4px 0px #FFCC00;
}

svg {
    top: -1px;
    left: -2px;
    display: block;
    position: relative;
}

.info-icon__link:hover svg path {
    fill: #FFCC00;
    transition: all 0.2s;

}

.icon-link__path {
    fill: #cccccc;
}

.button{
    @include button;
}