$line-cl:#FFCC00;;
$font-sz-text: 14px;
$font-raleway:'Raleway';
$font-roboto:'Roboto';
$font-openS:'Open Sans';
$main-cl-tx:#666666;
$text-color:#333333;
$opacity-c:#898F8F;

.mb_15 {
    margin-bottom: 15px;
}

.mb_50 {
    margin-bottom: 50px;
}

.mb_45 {
    margin-bottom: 45px;
}

.mb_25 {
    margin-bottom: 25px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mb_20{
    margin-bottom: 20px;
}

.mb_40{
    margin-bottom: 40px;
}

.mb_32{
    margin-bottom: 32px;
}